{% if site.data.resume.basics.disposition %}
  <div class="row disposition section" id="disposition">
    <div class="col-12">
      <h2 class="section-heading">Disposition</h2>

      <div class="entry last">
        <div class="summary">
          {{ site.data.resume.basics.disposition }}
        </div>
      </div>
    </div>
  </div>
{% endif %}