{% if site.data.resume.basics.image %}
  <div class="row image noprint">
    <div class="col-12">
        <img class="profile-image" src="{{ site.data.resume.basics.image }}" />
    </div>
  </div>
{% endif %}
